<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>autoLoginFilter</filter-name>
    <filter-class>com.lstop.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>autoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.lstop.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.lstop.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShopListServlet</display-name>
    <servlet-name>ShopListServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.ShopListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopListServlet</servlet-name>
    <url-pattern>/ShopListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopServlet</display-name>
    <servlet-name>AddShopServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.AddShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopServlet</servlet-name>
    <url-pattern>/AddShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSomeServlet</display-name>
    <servlet-name>DeleteSomeServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.DeleteSomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSomeServlet</servlet-name>
    <url-pattern>/DeleteSomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOneServlet</display-name>
    <servlet-name>DeleteOneServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.DeleteOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOneServlet</servlet-name>
    <url-pattern>/DeleteOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditShopServlet</display-name>
    <servlet-name>EditShopServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.EditShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditShopServlet</servlet-name>
    <url-pattern>/EditShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DividePageServlet</display-name>
    <servlet-name>DividePageServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.DividePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DividePageServlet</servlet-name>
    <url-pattern>/DividePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/CheckImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsernameJudgeServlet</display-name>
    <servlet-name>UsernameJudgeServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.UsernameJudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameJudgeServlet</servlet-name>
    <url-pattern>/UsernameJudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeCheckServlet</display-name>
    <servlet-name>CodeCheckServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.CodeCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeCheckServlet</servlet-name>
    <url-pattern>/CodeCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserStatusServlet</display-name>
    <servlet-name>UserStatusServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.UserStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatusServlet</servlet-name>
    <url-pattern>/UserStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveCodeServlet</display-name>
    <servlet-name>ActiveCodeServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.ActiveCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveCodeServlet</servlet-name>
    <url-pattern>/ActiveCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEveryCategoryServlet</display-name>
    <servlet-name>ShowEveryCategoryServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.ShowEveryCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEveryCategoryServlet</servlet-name>
    <url-pattern>/ShowEveryCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByPageServlet</display-name>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.ShowProductByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <url-pattern>/ShowProductByPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindShopByIdServlet</display-name>
    <servlet-name>FindShopByIdServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.FindShopByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindShopByIdServlet</servlet-name>
    <url-pattern>/FindShopByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotCellServlet</display-name>
    <servlet-name>HotCellServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.HotCellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotCellServlet</servlet-name>
    <url-pattern>/HotCellServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartListServlet</display-name>
    <servlet-name>CartListServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.CartListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartListServlet</servlet-name>
    <url-pattern>/CartListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartSnumServlet</display-name>
    <servlet-name>CartSnumServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.CartSnumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartSnumServlet</servlet-name>
    <url-pattern>/CartSnumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SnumBlurServlet</display-name>
    <servlet-name>SnumBlurServlet</servlet-name>
    <servlet-class>com.lstop.web.servlet.SnumBlurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnumBlurServlet</servlet-name>
    <url-pattern>/SnumBlurServlet</url-pattern>
  </servlet-mapping>
</web-app>